@page "/"

<PageTitle>Domů</PageTitle>

<section class="hero hero-full">
    <img class="hero-img" src="/images/hero.jpg" alt="Barber shop" />
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>Zarezervuj si svůj střih!</h1>
        <p>Jednoduchá rezervace a profesionální přístup kadeřníků.</p>

        <div class="hero-actions">
            <a class="btn btn-primary hero-btn" href="/reservations/create">Vytvořit rezervaci</a>
        </div>
    </div>
</section>
