@page "/calendar/{hairdresserId}"

<PageTitle>Kalednář</PageTitle>

<h1 class="muted">Tady bude kalendář se select listem :-)</h1>



@code {
    [Parameter]
    public string HairdresserId { get; set; } = default!;

}
