<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <MustChangePasswordGuard>
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                    <NotAuthorized>
                        <AuthRedirectHome />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </MustChangePasswordGuard>
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p class="muted">Stránka nenalezena.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>